# URL base para la API de tu aplicación (usada en src/App.vue)
VITE_API_BASE_URL=

# Token de GitHub para despliegue automatizado en gh-pages
# Es opcional si ya usas o tienes configurado SSH para Github.
GITHUB_TOKEN=
